body,html{
    font-weight:200;
    line-height:1;
    font-family: 'PingFang SC','STHeiti-Light','Helvetica-Light','arial','sans-serif';
    margin:0 auto;
}

#app{
    position: relative;
    min-height: 100vh;
    max-width: 750px;
    margin:0 auto;
    //overflow: hidden;
}

// 处理1px问题,配合mixin中的方法border-1px
@media(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    .border1px{
        &::after{
            width:150%;
            height:150%;
            -webkit-transform: scale(0.67);
            transform: scale(0.67);
        }
    }
}
@media(-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
    .border1px{
        &::after{
            height:200%;
            width:200%;
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }
    }
}
@media(-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .border1px{
        &::after{
            width:300%;
            height:300%;
            -webkit-transform: scale(0.34);
            transform: scale(0.34);
        }
    }
}

//清除浮动
.clearfix{
    zoom:1;
    &:after{
        display: block;
        content: '';
        clear:both;
    }
}


